@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap");

.btn {
  height: 60px;
  aspect-ratio: 5;
  border-radius: 0px;
  border: none;
  outline: 2px solid #10a60f;
  padding: 0;
  position: relative;
}

.btn:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(rgba(86, 228, 21, 0.2) 2px, transparent 2px),
    linear-gradient(90deg, rgba(86, 228, 21, 0.2) 2px, transparent 2px),
    linear-gradient(rgba(86, 228, 21, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(86, 228, 21, 0.05) 1px, transparent 1px);
  background-size: 60px 60px, 60px 60px, 10px 10px, 10px 10px;
  background-position: -1px -1px, -1px -1px, -5px -5px, -1px -1px;
}

.current {
  height: 100%;
  position: relative;
  background-color: #21421a;
  transition: all 0.1s;
  box-shadow: inset 50px 0 50px -25px rgba(74, 194, 18, 0.7), inset -50px 0 50px -25px rgba(74, 194, 18, 0.7);
}
.btn:hover .current {
  box-shadow: inset 80px 0 50px -25px rgba(74, 194, 18, 0.7), inset -80px 0 50px -25px rgba(74, 194, 18, 0.7);
}

.btn .current p {
  font-family: "Rajdhani", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: rgb(86, 228, 21);
  position: absolute;
  left: 4px;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 0;
  z-index: 3;
}

.sContainer {
  z-index: 0;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  opacity: 0.1;
  margin: 0 auto;
  gap: 1px;
}

.square {
  width: 100%;
  height: 100%;
  background-color: rgb(86, 228, 21);
  opacity: 0;
}

.btnBackground {
  position: absolute;
  width: 100%;
  height: 60px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
