@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&&display=swap");

.container {
  display: flex;
  width: 100%;
  height: 60px;
  place-content: space-between;
  background-color: rgba(3, 12, 31, 0.2);
  border-bottom: 1px solid rgba(156, 163, 175, 0.5);
  font-family: "Quantico", serif;
  font-weight: 500;
}

.leftIcon {
  aspect-ratio: 1 / 1;
  height: 100%;
  background-color: #f3f4f6;
  display: grid;
  place-items: center;
}

.nav {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  user-select: none;
}

.keyHint {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
}

.keyHint p {
  margin: 0;
  padding: 0 0.375rem;
  color: black;
}

.menuButton {
  position: relative;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  height: -webkit-fill-available;
  display: grid;
  align-items: center;
}

.menuButton:focus {
  outline: none;
}

.menuLabel {
  position: relative;
  z-index: 10;
  transition: color 0.1s;
  color: rgba(255, 255, 255, 0.6);
}

.menuButton:hover .menuLabel {
  color: rgba(255, 255, 255, 0.9);
}

.menuLabelActive {
  color: rgba(255, 255, 255, 0.9);
}

.underline {
  position: absolute;
  bottom: -1px;
  height: 3px;
  background-color: #c7d2d6;
  transition: all 0.2s ease-out;
  width: 0;
  left: 50%;
}

.menuButton:hover .underline {
  width: 100%;
  left: 0;
}

.underlineActive {
  width: 100%;
  left: 0;
}

.triangle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -18px;
  width: 9px;
  height: 16px;
  border-left: 2.5px solid transparent;
  border-right: 2.5px solid transparent;
  border-bottom: 2.5px solid #c7d2d6;
}

.triangle::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-left: 2.5px solid #c7d2d6;
  border-top: 2.5px solid #c7d2d6;
  border-bottom: 2.5px solid transparent;
  border-right: 2.5px solid transparent;
  transform: rotate(45deg) skewY(8deg) skewX(8deg);
  left: -1px;
  bottom: -7px;
}

.glow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 100%;
  height: 15px;
  background-color: rgba(199, 210, 214, 0.9);
  border-radius: 9999px;
  filter: blur(15px);
}

.rightBox {
  aspect-ratio: 1 / 1;
  height: 100%;
  background-color: #f87171;
}
